{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="content-wrapper">
      <div class="content">
          <h2 class="content-head is-center">Prevent hackers from defacing your web again</h2>

          <div class="pure-g">
              <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                  <h3 class="content-subhead">
                      <i class="fa fa-rocket"></i>
                      It's fast
                  </h3>
                  <p>
                      It just takes a few clicks to get your FTP site ready for login
                  </p>
              </div>
              <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                  <h3 class="content-subhead">
                      <i class="fa fa-mobile"></i>
                      Two factor authentication
                  </h3>
                  <p>
                      By using your phone as a key we can prevent attackers to steal your password and log in as you
                  </p>
              </div>
              <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                  <h3 class="content-subhead">
                      <i class="fa fa-th-large"></i>
                      Isolated
                  </h3>
                  <p>
                      Our services run to the highest degree of security to guarantee that other users will never, ever be able to access or modify your data
                  </p>
              </div>
              <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                  <h3 class="content-subhead">
                      <i class="fa fa-check-square-o"></i>
                      Ready to use
                  </h3>
                  <p>
                      If you are already a customer, just click login and begin managing your services!
                  </p>
              </div>
          </div>
      </div>

      <div class="ribbon l-box-lrg pure-g">
          <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
              <img width="300" alt="File Icons" class="pure-img-responsive" src="/static/img/common/file-icons.png">
          </div>
          <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

              <h2 class="content-head content-head-ribbon">Brought to you by Deavid</h2>

              <p>
                This server runs separate FTP and SFTP containers with restricted IP access that can be temporarily be enabled on this site.
                Stop people messing around with your data by properly securing your sites!
              </p>
          </div>
      </div>

{% include 'contact.html' %}

  </div>
{% endblock %}
