<!-- adapted from pure css - landing page example -->
<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %} - Service Administrator</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"></head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/layouts/styles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    {% endblock %}
<body>

  <div class="header">
      <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
          <a class="pure-menu-heading pure-visible-md" href="">Service Administrator</a>

          <ul class="pure-menu-list">
              <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
              {% if email %}
                <li class="pure-menu-item"><a href="/admin" class="pure-menu-link">{{ email }}</a></li>
                <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Log out</a></li>
              {% else %}
                <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Login</a></li>
              {% endif %}
          </ul>
      </div>
  </div>
  {% block splash %}
  <div class="splash-container">
      <div class="splash">
          <h1 class="splash-head">Your Firewall</h1>
          <p class="splash-subhead">
              we secure our services to protect your data and credentials
          </p>
          <p class="hide-small">
              <a href="/login" class="pure-button pure-button-primary">Log in to enable your FTP/STP</a>
          </p>
      </div>
  </div>
  {% endblock %}

  {% block content %}
  {% endblock %}
</body>
</html>
