{% extends "layout.html" %}
{% from "_helpers.html" import render_field %}
{% block title %}Login{% endblock %}
{% block splash %}
  <div class="small-wrapper">
    {{ super() }}
  </div>
{% endblock %}
{% block content %}
  <div class="small-wrapper">
  <div class="content-wrapper">
    <div class="ribbon l-box-lrg pure-g">
          <div class="l-box-lrg is-center pure-visible-md pure-u-1 pure-u-md-5-12 pure-u-lg-2-5">
              <img width="300" alt="File Icons" class="pure-img-responsive" src="/static/img/common/admin.png">
          </div>
          <div class="pure-u-1 pure-u-md-7-12 pure-u-lg-3-5">

              <h2 class="content-head content-head-ribbon">Log in to activate your FTP/SFTP</h2>

              <form class="pure-form pure-form-stacked" target="/login" method=post>
                <fieldset>
                  {{ render_field(form.email) }}
                  {{ render_field(form.token) }}
                  {{ render_field(form.password) }}
                  <button type="submit" class="pure-button">Log In</button>
                </fieldset>
              </form>

          </div>
      </div>
{% include 'contact.html' %}

  </div>
  </div>
{% endblock %}
